* {
    outline:none;
    box-shadow: none;
    background-color: transparent;
    color:#cccac2;
    border-radius:16px;
}

window {
background-color: #0b0e14;
border: solid 1px #131721;
}

#outer-box {
margin: 8px;
background-color: transparent;
}

#input {
margin: 5px 0px 5px 0px;
border: 1px solid #707a8c;
}

#entry:selected {
border: 1px solid #707a8c;
}

#img {
margin: 0px 15px;
}

#text {
margin: 2px;
}